<%= form_with(model: author, local: true) do |f| %>
<!--
  <1% if author.errors.any? %>
    <div id="error_explanation">
      <h2><1%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <1% author.errors.full_messages.each do |message| %>
          <li><1%= message %></li>
        <1% end %>
      </ul>
    </div>
  <1% end %>-->

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
